body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:424px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u3772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  white-space:nowrap;
}
#u3773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2px;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:122px;
  width:770px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u3773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:56px;
  width:260px;
  height:56px;
  color:#1E1E1E;
}
#u3774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u3775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:337px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:286px;
  width:340px;
  height:337px;
  font-size:16px;
  text-align:left;
}
#u3775_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u3776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:783px;
  width:158px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3776_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u3777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:256px;
  width:49px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3778 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:322px;
  width:158px;
  height:127px;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3778_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:148px;
  word-wrap:break-word;
}
#u3779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u3779 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:760px;
  width:480px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u3779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:822px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:347px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:394px;
  width:54px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u3783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:256px;
  width:49px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:793px;
  width:78px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3784_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u3785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:919px;
  width:78px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3785_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:811px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3786_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(175.114797431883deg);
  -moz-transform:rotate(175.114797431883deg);
  -ms-transform:rotate(175.114797431883deg);
  transform:rotate(175.114797431883deg);
}
#u3786_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3786_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-19px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(175.11479743188deg);
  -moz-transform:rotate(175.11479743188deg);
  -ms-transform:rotate(175.11479743188deg);
  transform:rotate(175.11479743188deg);
}
#u3786_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:903px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3787_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-57px;
  width:158px;
  height:12px;
  -webkit-transform:rotate(138.918248864067deg);
  -moz-transform:rotate(138.918248864067deg);
  -ms-transform:rotate(138.918248864067deg);
  transform:rotate(138.918248864067deg);
}
#u3787_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3787_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-109px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(138.918248864069deg);
  -moz-transform:rotate(138.918248864069deg);
  -ms-transform:rotate(138.918248864069deg);
  transform:rotate(138.918248864069deg);
}
#u3787_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:335px;
  width:48px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:755px;
  width:44px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:362px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3790_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:156px;
  height:8px;
  -webkit-transform:rotate(179.627954712797deg);
  -moz-transform:rotate(179.627954712797deg);
  -ms-transform:rotate(179.627954712797deg);
  transform:rotate(179.627954712797deg);
}
#u3790_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3790_seg2 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:-10px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(179.627954712796deg);
  -moz-transform:rotate(179.627954712796deg);
  -ms-transform:rotate(179.627954712796deg);
  transform:rotate(179.627954712796deg);
}
#u3790_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:766px;
  width:215px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:717px;
  width:209px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u3793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:155px;
  width:539px;
  height:84px;
  color:#0000FF;
}
#u3793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  white-space:nowrap;
}
#u3794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:467px;
  width:158px;
  height:130px;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3794_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:148px;
  word-wrap:break-word;
}
#u3795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:497px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:498px;
  width:94px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:644px;
  width:95px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u3798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:615px;
  width:158px;
  height:130px;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u3798_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:148px;
  word-wrap:break-word;
}
#u3799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:827px;
  width:78px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3799_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u3800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:817px;
  width:158px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3800_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:787px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:885px;
  width:78px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3802_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:851px;
  width:158px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3803_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:811px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3804_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:17px;
  width:56px;
  height:12px;
  -webkit-transform:rotate(101deg);
  -moz-transform:rotate(101deg);
  -ms-transform:rotate(101deg);
  transform:rotate(101deg);
}
#u3804_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:63px;
  width:56px;
  height:12px;
  -webkit-transform:rotate(79deg);
  -moz-transform:rotate(79deg);
  -ms-transform:rotate(79deg);
  transform:rotate(79deg);
}
#u3804_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3804_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:80px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-111.801409486351deg);
  -moz-transform:rotate(-111.801409486351deg);
  -ms-transform:rotate(-111.801409486351deg);
  transform:rotate(-111.801409486351deg);
}
#u3804_text {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:843px;
  width:39px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:855px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:845px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3807_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-9px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(175.601294645004deg);
  -moz-transform:rotate(175.601294645004deg);
  -ms-transform:rotate(175.601294645004deg);
  transform:rotate(175.601294645004deg);
}
#u3807_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3807_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-18px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(175.601294645003deg);
  -moz-transform:rotate(175.601294645003deg);
  -ms-transform:rotate(175.601294645003deg);
  transform:rotate(175.601294645003deg);
}
#u3807_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:937px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3808_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-39px;
  width:138px;
  height:10px;
  -webkit-transform:rotate(149.834992194259deg);
  -moz-transform:rotate(149.834992194259deg);
  -ms-transform:rotate(149.834992194259deg);
  transform:rotate(149.834992194259deg);
}
#u3808_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3808_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-75px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(149.834992194259deg);
  -moz-transform:rotate(149.834992194259deg);
  -ms-transform:rotate(149.834992194259deg);
  transform:rotate(149.834992194259deg);
}
#u3808_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:512px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3809_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:110px;
  height:8px;
  -webkit-transform:rotate(179.469498683326deg);
  -moz-transform:rotate(179.469498683326deg);
  -ms-transform:rotate(179.469498683326deg);
  transform:rotate(179.469498683326deg);
}
#u3809_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3809_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(179.469498683326deg);
  -moz-transform:rotate(179.469498683326deg);
  -ms-transform:rotate(179.469498683326deg);
  transform:rotate(179.469498683326deg);
}
#u3809_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:543px;
  width:54px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:644px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u3812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:691px;
  width:54px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:658px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u3813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3813_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3813_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-9px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3813_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:299px;
  width:30px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:294px;
  width:30px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:465px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:493px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:478px;
  width:105px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u3818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:36px;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:474px;
  width:16px;
  height:35px;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u3819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:548px;
  width:62px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u3821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:576px;
  width:69px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u3822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:565px;
  width:237px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u3823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:36px;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:561px;
  width:16px;
  height:35px;
  font-size:14px;
  color:#0000FF;
  line-height:24px;
}
#u3823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1010px;
  width:663px;
  height:56px;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u3824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  white-space:nowrap;
}
#u3825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:407px;
  width:150px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1767px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u3826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
