body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:122px;
  width:361px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:162px;
  width:770px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:210px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:216px;
  width:225px;
  height:210px;
  font-size:16px;
  text-align:left;
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:338px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:366px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:975px;
  width:563px;
  height:160px;
  font-size:16px;
  text-align:left;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:533px;
  word-wrap:break-word;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:394px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1070px;
  width:410px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:322px;
  width:73px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:326px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:281px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:326px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:299px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u4052_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:15px;
  width:148px;
  height:10px;
  -webkit-transform:rotate(-163.786618310014deg);
  -moz-transform:rotate(-163.786618310014deg);
  -ms-transform:rotate(-163.786618310014deg);
  transform:rotate(-163.786618310014deg);
}
#u4052_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4052_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-163.786618310015deg);
  -moz-transform:rotate(-163.786618310015deg);
  -ms-transform:rotate(-163.786618310015deg);
  transform:rotate(-163.786618310015deg);
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:371px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:344px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4054_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-6px;
  width:144px;
  height:8px;
  -webkit-transform:rotate(178.375023642475deg);
  -moz-transform:rotate(178.375023642475deg);
  -ms-transform:rotate(178.375023642475deg);
  transform:rotate(178.375023642475deg);
}
#u4054_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4054_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-13px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(178.375023642476deg);
  -moz-transform:rotate(178.375023642476deg);
  -ms-transform:rotate(178.375023642476deg);
  transform:rotate(178.375023642476deg);
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:389px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4055_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-29px;
  width:152px;
  height:10px;
  -webkit-transform:rotate(160.836754224002deg);
  -moz-transform:rotate(160.836754224002deg);
  -ms-transform:rotate(160.836754224002deg);
  transform:rotate(160.836754224002deg);
}
#u4055_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4055_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-57px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(160.836754224003deg);
  -moz-transform:rotate(160.836754224003deg);
  -ms-transform:rotate(160.836754224003deg);
  transform:rotate(160.836754224003deg);
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:239px;
  width:91px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:284px;
  width:73px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:371px;
  width:127px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1166px;
  width:981px;
  height:84px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  white-space:nowrap;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:912px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u4061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1562px;
  width:145px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1594px;
  width:590px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u4063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:519px;
  width:247px;
  height:216px;
  font-size:16px;
  text-align:left;
}
#u4063_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u4064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:481px;
  width:116px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:178px;
  width:132px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:642px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:670px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:698px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:441px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u4070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:608px;
  width:73px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4070_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u4071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:612px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:567px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4072_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:610px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4073_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:585px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u4074_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:15px;
  width:148px;
  height:10px;
  -webkit-transform:rotate(-163.786618310014deg);
  -moz-transform:rotate(-163.786618310014deg);
  -ms-transform:rotate(-163.786618310014deg);
  transform:rotate(-163.786618310014deg);
}
#u4074_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4074_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-163.786618310012deg);
  -moz-transform:rotate(-163.786618310012deg);
  -ms-transform:rotate(-163.786618310012deg);
  transform:rotate(-163.786618310012deg);
}
#u4074_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:655px;
  width:34px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4075_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:14px;
  word-wrap:break-word;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:628px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4076_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-6px;
  width:144px;
  height:10px;
  -webkit-transform:rotate(179.187348405746deg);
  -moz-transform:rotate(179.187348405746deg);
  -ms-transform:rotate(179.187348405746deg);
  transform:rotate(179.187348405746deg);
}
#u4076_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4076_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-11px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(179.187348405745deg);
  -moz-transform:rotate(179.187348405745deg);
  -ms-transform:rotate(179.187348405745deg);
  transform:rotate(179.187348405745deg);
}
#u4076_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:673px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4077_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-29px;
  width:150px;
  height:10px;
  -webkit-transform:rotate(161.565051177078deg);
  -moz-transform:rotate(161.565051177078deg);
  -ms-transform:rotate(161.565051177078deg);
  transform:rotate(161.565051177078deg);
}
#u4077_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4077_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-55px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(161.565051177079deg);
  -moz-transform:rotate(161.565051177079deg);
  -ms-transform:rotate(161.565051177079deg);
  transform:rotate(161.565051177079deg);
}
#u4077_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:525px;
  width:91px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:570px;
  width:73px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:701px;
  width:327px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u4081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:642px;
  width:73px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4081_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:645px;
  width:52px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:700px;
  width:56px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:718px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4084_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-34px;
  width:154px;
  height:10px;
  -webkit-transform:rotate(157.293629159694deg);
  -moz-transform:rotate(157.293629159694deg);
  -ms-transform:rotate(157.293629159694deg);
  transform:rotate(157.293629159694deg);
}
#u4084_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4084_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-67px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(157.293629159696deg);
  -moz-transform:rotate(157.293629159696deg);
  -ms-transform:rotate(157.293629159696deg);
  transform:rotate(157.293629159696deg);
}
#u4084_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:586px;
  width:131px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:878px;
  width:490px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  white-space:nowrap;
}
#u4087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:947px;
  width:770px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u4087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:131px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1260px;
  width:264px;
  height:131px;
  text-align:left;
}
#u4088_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:234px;
  word-wrap:break-word;
}
#u4089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:129px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1389px;
  width:264px;
  height:129px;
  text-align:left;
}
#u4089_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:234px;
  word-wrap:break-word;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1369px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u4090_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u4090_seg1 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:8px;
  height:138px;
}
#u4090_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:126px;
  width:54px;
  height:8px;
}
#u4090_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:121px;
  width:18px;
  height:18px;
}
#u4090_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1693px;
  width:133px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#0000FF;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1771px;
  width:375px;
  height:84px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#0000FF;
}
#u4092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u4093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1750px;
  width:414px;
  height:127px;
  font-size:14px;
  line-height:24px;
}
#u4093_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:52px;
  width:394px;
  word-wrap:break-word;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:2493px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
