body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:284px;
  width:518px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u4477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:339px;
  width:556px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u4478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:171px;
  width:366px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u4479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:247px;
  width:770px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:59px;
  width:279px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u4481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:209px;
  width:438px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
