body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:212px;
  width:188px;
  height:28px;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1239px;
  height:2px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1003px;
  width:1238px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:61px;
  width:933px;
  height:84px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:378px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:336px;
  width:472px;
  height:378px;
  font-size:16px;
  text-align:left;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:442px;
  word-wrap:break-word;
}
#u2125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:461px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:487px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:347px;
  width:59px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:513px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:334px;
  width:593px;
  height:513px;
  font-size:16px;
  text-align:left;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:563px;
  word-wrap:break-word;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:653px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:679px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:765px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:789px;
  width:24px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:375px;
  width:107px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:433px;
  width:87px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:546px;
  width:79px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:572px;
  width:63px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:429px;
  width:349px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:663px;
  width:395px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  white-space:nowrap;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:347px;
  width:55px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:430px;
  width:91px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:404px;
  width:59px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  line-height:24px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:766px;
  width:612px;
  height:24px;
  color:#008000;
  line-height:24px;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  white-space:nowrap;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  line-height:24px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:650px;
  width:396px;
  height:48px;
  color:#008000;
  line-height:24px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:302px;
  width:87px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:302px;
  width:87px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:599px;
  width:87px;
  height:24px;
  font-size:16px;
  color:#008000;
  line-height:24px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1458px;
  width:823px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  word-wrap:break-word;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:244px;
  width:303px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:394px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1037px;
  width:559px;
  height:394px;
  font-size:16px;
  text-align:left;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:529px;
  word-wrap:break-word;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1106px;
  width:419px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u2151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1268px;
  width:406px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u2152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1178px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1139px;
  width:11px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1225px;
  width:13px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:1153px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u2155_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:17px;
  width:190px;
  height:10px;
  -webkit-transform:rotate(-166.776932347299deg);
  -moz-transform:rotate(-166.776932347299deg);
  -ms-transform:rotate(-166.776932347299deg);
  transform:rotate(-166.776932347299deg);
}
#u2155_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2155_seg2 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:33px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-166.7769323473deg);
  -moz-transform:rotate(-166.7769323473deg);
  -ms-transform:rotate(-166.7769323473deg);
  transform:rotate(-166.7769323473deg);
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:1239px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u2156_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-21px;
  width:186px;
  height:8px;
  -webkit-transform:rotate(169.667299484078deg);
  -moz-transform:rotate(169.667299484078deg);
  -ms-transform:rotate(169.667299484078deg);
  transform:rotate(169.667299484078deg);
}
#u2156_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2156_seg2 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-41px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(169.667299484084deg);
  -moz-transform:rotate(169.667299484084deg);
  -ms-transform:rotate(169.667299484084deg);
  transform:rotate(169.667299484084deg);
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:1145px;
  width:13px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1042px;
  width:43px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1335px;
  width:43px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1076px;
  width:105px;
  height:56px;
  font-size:16px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1263px;
  width:81px;
  height:56px;
  font-size:16px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1561px;
  width:764px;
  height:168px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  white-space:nowrap;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:478px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:2457px;
  width:559px;
  height:478px;
  font-size:16px;
  text-align:left;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:529px;
  word-wrap:break-word;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:2749px;
  width:152px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:2834px;
  width:161px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:2387px;
  width:559px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  word-wrap:break-word;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:2527px;
  width:808px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  white-space:nowrap;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:2954px;
  width:576px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  word-wrap:break-word;
}
#u2169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:2999px;
  width:749px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:317px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:3035px;
  width:559px;
  height:317px;
  font-size:16px;
  text-align:left;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:529px;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:3272px;
  width:165px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:3300px;
  width:174px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
  line-height:24px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:2284px;
  width:1048px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  word-wrap:break-word;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:965px;
  width:188px;
  height:28px;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1239px;
  height:2px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:2350px;
  width:1238px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:2246px;
  width:100px;
  height:28px;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1239px;
  height:2px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:272px;
  width:1238px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1239px;
  height:2px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1894px;
  width:1238px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:1817px;
  width:84px;
  height:28px;
  font-family:'华文中宋 Bold', '华文中宋 Regular', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:4320px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1915px;
  width:736px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  word-wrap:break-word;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1977px;
  width:63px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:2029px;
  width:63px;
  height:28px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1978px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:2031px;
  width:354px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:2082px;
  width:65px;
  height:28px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:2084px;
  width:120px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666600;
  line-height:24px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:2082px;
  width:13px;
  height:28px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1859px;
  width:625px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:4160px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
