body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1179px;
  width:981px;
  height:168px;
  color:#008000;
}
#u4114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  word-wrap:break-word;
}
#u4115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:28px;
  width:209px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:2px;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:66px;
  width:770px;
  height:1px;
  font-size:14px;
  line-height:24px;
}
#u4116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:89px;
  width:526px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u4118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:556px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:127px;
  width:430px;
  height:556px;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u4118_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:400px;
  word-wrap:break-word;
}
#u4119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:570px;
  width:203px;
  height:28px;
  color:#1E1E1E;
}
#u4119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u4120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:612px;
  width:411px;
  height:28px;
}
#u4120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:616px;
  width:5px;
  height:20px;
  font-size:14px;
  line-height:24px;
}
#u4121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:656px;
  width:275px;
  height:28px;
  color:#1E1E1E;
}
#u4122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u4123_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:660px;
  width:5px;
  height:20px;
  font-size:14px;
  line-height:24px;
}
#u4123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:738px;
  width:267px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u4125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:781px;
  width:339px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u4126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:819px;
  width:550px;
  height:47px;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u4126_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
#u4127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:879px;
  width:627px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u4127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  white-space:nowrap;
}
#u4128_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:47px;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:886px;
  width:5px;
  height:42px;
  font-size:14px;
  line-height:24px;
}
#u4128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:976px;
  width:499px;
  height:56px;
}
#u4129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u4130_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:57px;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:978px;
  width:5px;
  height:52px;
  font-size:14px;
  line-height:24px;
}
#u4130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1004px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#000000;
}
#u4131_seg0 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-188px;
  width:458px;
  height:10px;
  -webkit-transform:rotate(126.794475425898deg);
  -moz-transform:rotate(126.794475425898deg);
  -ms-transform:rotate(126.794475425898deg);
  transform:rotate(126.794475425898deg);
}
#u4131_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4131_seg2 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:-371px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(126.794475425898deg);
  -moz-transform:rotate(126.794475425898deg);
  -ms-transform:rotate(126.794475425898deg);
  transform:rotate(126.794475425898deg);
}
#u4131_text {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1073px;
  width:735px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  white-space:nowrap;
}
#u4133_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:56px;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1078px;
  width:5px;
  height:51px;
  font-size:14px;
  line-height:24px;
}
#u4133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:829px;
  width:462px;
  height:28px;
  font-size:16px;
  color:#0000FF;
}
#u4134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  white-space:nowrap;
}
#u4135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:24px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:2003px;
  width:103px;
  height:35px;
  font-size:14px;
  line-height:24px;
}
#u4135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
